<div class="footer-container">
    <div class="footer-text-container">
        &copy; {{ currentYear }}. Site created by
        <a
            href="https://www.linkedin.com/in/folushooladipo/"
            target="_blank"
            rel="noopener noreferrer"
        >
            Folusho Oladipo
        </a>
        and licensed as
        <a
            href="https://en.wikipedia.org/wiki/Creative_Commons_license"
            target="_blank"
            rel="noopener noreferrer"
        >
            Creative Commons SA-BY-NC.
        </a>
        <!-- Link is oddly formatted so as to side-step some whitespace issues. -->
        &lt;<a
            href="https://github.com/folushooladipo/employee-directory"
            target="_blank"
            rel="noopener noreferrer"
        >Source code</a>
        /&gt;
    </div>
</div>
