<div>
  <div class="">
    <div class="">
      <h1 class="">Employee Directory</h1>
    </div>
  </div>
  <div class="form-group">
    <input #searchInput (keyup)="debounceOnChangeQuery(searchInput.value)" type="search" placeholder="Search for someone..." class="form-control">
  </div>
  <div>
    <table class="table table-hover">
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Title</th>
        <th>Details</th>
      </tr>
      <tr *ngFor="let employee of employees">
        <td>
          <img [src]="'/assets/photos/' + employee.picture" width="50px">
        </td>
        <td>{{employee.firstName}} {{employee.lastName}}</td>
        <td>{{employee.title}}</td>
        <td>
          <button (click)="goTo('/employees/' + employee.id)" class="btn btn-primary">
            <span class="badge">{{employee.reports}}</span>
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </td>
      </tr>
      <p *ngIf="searchQuery && employees.length === 0">No employees match that query.</p>
    </table>
  </div>
</div>
