<div>
  <app-page-title title="Welcome to the Employee Directory!"></app-page-title>
  <div class="form-group">
    <input #searchInput (keyup)="debounceQueryChange(searchInput.value)" type="search" placeholder="Search for someone using 3 or more letters..." class="form-control">
  </div>
  <div *ngIf="searchQuery && employees.length === 0" class="alert alert-secondary">
    <strong>No employees match that query.</strong>
  </div>
  <div class="employee-cards-container">
    <div *ngFor="let employee of employees" class="card border-custom-grey">
      <!-- TODO: Move the markup for this card into a separate, reusable component. -->
      <div class="card-header">
        <div class="half-width profile-pic-container">
          <img [src]="employeePicturesPath + employee.picture" width="50px">
        </div>
        <div class="half-width profile-details-btn">
          <button (click)="goTo('/employees/' + employee.id)" class="btn btn-primary">
            Profile
          </button>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{employee.firstName}} {{employee.lastName}}</h4>
        <h5>{{employee.title}}</h5>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="goTo('/employees/' + employee.id + '/reports')"
        >
          Reports: {{employee.reports}}
        </button>
        <!-- TODO: Replace these bookmark/unbookmark btns with clickable icon buttons, especially icons from Font Awesome. -->
        <button
          *ngIf="bookmarkedEmployees[employee.id]; else addBookmark"
          (click)="onRemoveBookmark(employee)"
          class="btn btn-secondary bookmark-btn"
        >
          Remove bookmark
        </button>
        <ng-template #addBookmark>
          <button
            (click)="onAddBookmark(employee)"
            class="btn btn-secondary unbookmark-btn"
          >
            Bookmark
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
