.employee-profile-container
  padding 0 1rem

.profile-header-container
  display flex

.employee-pic-container
  box-shadow 3px 5px 10px #eee, -3px 5px 10px #eee, 3px -5px 10px #eee
  min-width 70px

.employee-bio-container
  flex-grow 1
  margin-left 2rem

.profile-body-container
  margin-top 2rem
