<app-nav-bar></app-nav-bar>

<app-page-title title="Managed employees"></app-page-title>

<div *ngIf="!employee" class="alert alert-warning">
  <h3>We do not know that employee.</h3>
</div>

<div *ngIf="employee && !hasManagedColleagues">
  <p>{{employee.firstName}} {{employee.lastName}} does not manage any employees.</p>
</div>

<div *ngIf="employee && hasManagedColleagues">
  <p>{{employee.firstName}} {{employee.lastName}}</p>
  <table class="table table-hover">
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Title</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let colleague of managedColleagues">
      <td>
        <img [src]="'/assets/photos/' + colleague.picture">
      </td>
      <td>{{colleague.firstName}} {{colleague.lastName}}</td>
      <td>{{colleague.title}}</td>
      <td>
        <button [routerLink]="['/employees/', colleague.id]" class="btn btn-primary">
          <span class="badge">{{colleague.reports}}</span>
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </td>
    </tr>
  </table>
</div>
